@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bitcoin-orange: #F7931A;
  --bitcoin-black: #0b0e11;
  --bitcoin-gray: #1e2329;
}

body {
  background-color: var(--bitcoin-black);
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}